<section class="pb-5">

    <div class="container">

        <h2 class="fw-bold">
            Maria Boarding House
        </h2>

        <p class="text-muted">
            📍 Poblacion, Bilar, Bohol
        </p>

        <h3 class="text-primary">
            ₱2,000 / Month
        </h3>

        <hr>

        <h4>Description</h4>

        <p>

            A clean and comfortable boarding house
            located near BISU Bilar.

            Walking distance to the campus,
            restaurants,
            convenience stores,
            and transportation.

        </p>

    </div>

</section>